html {
  --white: #fff;
  --white-alt: #FCFCFC;
  --black: #1A1A1A;
  --dark: #333333;
  --grey: hsl(230 35 75 50%);
  --error: #D92D20;
  --warning: #F79009;
  --error-50: #FEF3F2;
  --error-100: #ECC8C5;
  --error-200: #FECDCA;
  --error-300: #B42318;
  --primary: #3C7C28;
  --green-50: #f7fbf6;
  --green-100: #EFF8EC;
  --green-200: #E0F1DA;
  --green-300: #C0E4B5;
  --green-400: #A1D690;
  --green-500: #81C96B;
  --green-600: #62BB46;
  --green-800: #3a961d;
  --green-700: #62BB46;
  --grey-50: #F9FAFB;
  --grey-100: #F4F4F6;
  --grey-150: #E5E6EB;
  --grey-200: #D3D5DA;
  --grey-250: #9EA3AE;
  --grey-300: #6C727F;
  --grey-400: #4D5461;
  --grey-500: #394150;
  --grey-600: #212936;
  --grey-700: #161D21;
  --darkOrange: #E8B336;
  --lightYellow: #F7F3D7;
  --lightBlue: #CDE9F6;
  --deepBlue: #363eb6;
  --blue: #026AA2;


  --fs-heading-xl: 6.4rem;
  --fs-heading-lg: 3.8rem;
  --fs-heading-md: 3.4rem;
  --fs-heading-sm: 2.8rem;
  --fs-heading-xm: 2.4rem;
  --fs-text-xl: 2.2rem;
  --fs-text-lg: 1.8rem;
  --fs-text-md: 1.6rem;
  --fs-text-sm: 1.4rem;
  --fs-text-xm: 1.2rem;

  --max-width: 1366px;
}

body {
  margin: 0;
  font-family: "'Inter', sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: '#161342';
  color: var(--white);
}

/*For the astrisk in the password field*/


*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-margin-block: 1rem;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: auto;
}